/*CSS*/

/*IMPORT FONT
@font-face{
    font-family: nomeDesejado;
    src: url(pathDaFonte);
}
/*FONT`s IMPORT*/
/*
@font-face{
    font-family: hemiheadbdi;
    src: url("../fonts/hemihead426/hemiheadbdit.ttf");
}
*/
@font-face{
    font-family: CarvedRock;
    src: url("../fonts/carved-rock/CarvedRock.ttf");
}
/* ********************************************* */


/*MOBILE*/
@media screen and (max-device-width: 480px){

  *{
    padding: 0px;
    margin: 0px;
  }

  .modalContainer{
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding-top: 70px;
    background: rgba(0,0,0, 0.7);
    /*background-color: green;*/
    position: fixed;
    display: none;
  }
  .modal{
    width: 80%; /* 250px */
    height: 80%; /* 500px */
    padding: 15px;
    background-color:#212121;
    margin:auto;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 1px 100px #FF6E40;
  }

  body{
    margin: 0px;
    padding: 0px;
  }

  /*CONTROLLER*/
  #controller{
    display: none;
  }
  /*-------------------------*/

  header{
    width: 100%;
    height: 15%; /*80px*/
    background-color: #000000;
    position: fixed;
    z-index: 999;
  }
  #fillBlank{
    width: 100%;
    height: 80px;
  }
  #backgroundVideo{
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(videos/bgVideo.mp4) repeat;
    background-size: cover;
  }
  /*---------------- MENU -----------------*/
  nav{
    width: 100%; /* 250px */
    height: 100%; /*80px*/
    /*background-color: green;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
  }

  /*SMALL MENU - PAGE TOP*/
  #smallMenuArea{
    width: 15%; /*50px*/
    height: 5%; /*35px*/
    position: fixed;
    border: solid 1px #FF6E40;
    box-shadow: 1px 1px 100px #FF6E40;
    border-radius: 0px 0px 10px 0px;
    background-color: #212121;
  }
  .menuBar{
    width: 100%; /*50px*/
    height: 15%; /*5px*/
    margin-top: 4px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FF6E40;
  }

  /************************************/


  /*-- MENU ITEMS --*/
  #logo{
    display: none;
    /*width: 100px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;*/
    /*background-color: gray;*/
    /*float: left;*/
  }
  #logoImg{
      display: none;
      /*width: 100px;
      height: 80px;*/
  }
  /*FOR MOBILE*/
  #logoMOBILE{
      display: block;
      width: 100px;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
  }
  #logoImgMOBILE{
      display: block;
      width: 100px;
      height: 80px;
  }
  /* ************** */
  .menuItems{
    display: none;
    width: 100%; /* 150px */
    height: 100%; /* 50px */
    padding-top: 1.5%; /* 30px */
    text-align: center;
    /*float: left;*/
    background-color: #212121;

    /*TEXT*/
    font-family: verdana, "Chaparral Pro";
    font-size: 26px;
    color: #d84315;
    font-weight:bold;
  }
  #loginArea{
    display: none;
    /*width: 200px;
    height: 80px;
    float: left;*/
  }
  .inputArea_LOGIN{
    width: 90px;
    height: 65px;
    padding-top: 15px;
    text-align: left;
    float: left;

    /*TEXT*/
    font-family: verdana, "Chaparral Pro";
    font-size: 14px;
    color: #d9d9d9;
  }
  .inputText_LOGIN{
    width: 85px;
    float: left;
  }
  #buttonArea_LOGIN{
    width: 20px;
    height: 48px;
    padding-top: 32px;
    float: left;
  }
  #btnOk_LOGIN{
    width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 10px;
    float: left;
  }
  /*------------ MAIN CONTENT -----------------*/
  #main{
    width: 100%; /* 1200px */
    min-height: 700px;
    height: auto;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
  }
  #slider{
    display: none;
    /*margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 375px;*/
  /*  background-color: green;*/
  }
  section{
      width: 100%; /* 1200px */
      height: 700px;
      margin-left: auto;
      margin-right: auto;
  }
  /*------------ LEFT MENU -----------------*/
  #leftMenu{
    display: none;
    width: 100%; /* 250px */
    z-index: 995;
    min-height: 850px;
    height: auto;
    background-color: #d84315;
    float: left;
    position: fixed;
  }
  /* ------------- CATEGORY ------------ */
  #menuList_LEFT_MENU{
    list-style: none;
    padding: 0px;
  }
  .lstItem_LEFT_MENU{
    transition: 2s;
    padding: 10px;
    background-color: #212121;
    margin-top: 5px;

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 21px;
    color: #9e9e9e;
  }
  .lstItem_LEFT_MENU:hover{
      transition: 2s;
      color: #d84315;
  }
  .lstItem_LEFT_MENU:hover > .subcategory_LEFT_MENU{
    display: block;
  }
  /* ------------- SUBCATEGORY ------------ */
  .subcategory_LEFT_MENU{
    display: none;
  }
  .subcategory_listItem_LEFT_MENU{
    width: 250px;
    height: auto;
    min-height: 20px;
    margin-top: 10px;
    /*background-color: green;*/

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 16px;
    color: #9e9e9e;
  }
  .subcategory_listItem_LEFT_MENU:hover{
    transition: 1s;
    color: #d84315;
    text-shadow: 1px 1px 5px #000;
  }
  /*----------------------------------------*/
  #centerContent{
    width: 100%;
    min-height: 700px;
    height: auto;
    padding-bottom: 10%;
    background-color: #212121; /* #212121 */
    float: left;
  }
  /*------------ OUTSIDE BOXES -------------*/
  #outsideBox1_CENTER_CONTENT{
    display: none;
    /*width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;*/
  /*  transition: 2s;*/
  }
  #outsideBox2_CENTER_CONTENT{
    display: none;
    /*width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;
    margin-top: 120px;*/
  /*    transition: 2s;*/
  }
  #outsideBox3_CENTER_CONTENT{
    display: none;
    /*width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;
    margin-top: 60px;*/
  /*  transition: 2s;*/
  }
  .adImgSize{
      width: 55px;
      height: 55px;
      border-radius: 10px 10px 10px 10px;
  }
  /*----------------------------------------*/
  #contentTitle_CENTER_CONTENT{
    width: 100%; /* 950px */
    height: 70px;
    text-align: center;
    /*background-color: aqua;*/
  }
  /*TITLE*/
  h1{
    color: #d84315;
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 34px;
    text-shadow: 2px 2px 1px #000000;
  }
  /*----------------- SEARCH --------------*/
  /*SEARCH AREA*/
  #searchArea{
      width: 90%; /* 920px */
      height: 40px;
      padding-left: 10%;  /* 30px */
      margin-left: auto;
      margin-right: auto;
      /*background-color: yellowgreen;*/
  }
  #btnSearch{
      border-radius: 20px 20px 20px 20px;
      width: 30px;
      height: 30px;
      box-shadow: 1px 2px 5px #bf360c;
  }
  #txtSearch{
      width: 280px; /* 810px */
      height: 25px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 1px 2px 25px #bf360c;

      /*TEXT*/
      text-align: center;
      color: #000000;
      letter-spacing: 2px;
      font-size: 18px;
      font-family: CarvedRock;
      text-shadow: 1px 1px #bf360c;
  }
  /* -------------------------------------- */
  /*ITEMS BOX*/
  .itemsBox_CENTER_CONTENT{
    width: 280px; /* 250px */
    height: 300px;
    border: solid 5px #d84315;
    border-radius: 5px 5px 5px 5px;
    margin-left: auto; /* 30px */
    margin-right: auto;
    /*float: left;*/
    margin-top: 25px;
  }
  .imgBackground_ITEMS_BOX{
    width: 200px; /* 250px */
    height: 180px;
    background-color: #000000;
  }
  .pizzaImg_ITEMS_BOX{
    width: 280px; /* 250px */
    height: 180px;
    background-color: #bf360c;
    border-radius: 10px 10px 10px 10px;
  }
  .pizzaIconImg_ITEMS_BOX{
    width: 280px;
    height: 180px;
    border-radius: 5px 5px 5px 5px;
  }
  .descArea_ITEMS_BOX{
    width: 280px; /* 250px */
    height: 100px;
    padding-top: 20px;
    background-color: #000000;
    border-radius: 0px 0px 2px 2px;
    opacity: 0.6;
  }
  .descLabel_ITEMS_BOX{
    width: 270px; /* 245px */
    height: 15px;
    padding: 5px;
    /*background-color: purple;*/

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }
  .detailsDescLabel_ITEMS_BOX{
    width: 275px; /* 245px */
    height: 25px;
    text-align: right;
    padding-right: 5px;
    /*background-color: green;*/

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    color: #d84315;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }
  /****************** FOOTER ******************/
  footer{
    width: 100%;
    height: 100%; /*150px*/
    float: left;
    background-color: green
  }
  #footerBox{
    width: 100%; /* 1200px */
    height: 100%; /*150px*/
    margin-left: auto;
    margin-right: auto;
    background-color: #263238;
  }
  #leftSideFooter{
    display: none;
    width: 33%;  /* 200px */
    height: 50px;
    float: left;
    padding-top: 100px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 10px;
    font-family: verdana, "Chaparral Pro";
  }
  #rightSideFooter{
    width: 100%; /* 300px */
    height: 15%; /*40px*/
    /*float: left;*/
    /*background-color: green;*/
    padding-top: 10px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }
  #rightSideFooter a{
    text-align: center;
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }

  #centerSpaceFooter{
    width: 100%; /* 700px */
    height: 100px;
    /*background-color: aqua;*/
    /*float: left;*/
  }
  #frsText{
    display: none;
    width: 100%;  /* 720px */
    height: 50px;
    padding-top: 25px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 18px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }
  #scdnText{
    width: 100%; /* 720px */
    height: 50%; /*50px*/
    padding-top: 25px;
    /*background-color: green;*/

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 18px;
    font-family: verdana, "Chaparral Pro";
  }
  /*******************************************/

  /**************** GENERAL tags *************/
  a{
    text-decoration: none;
    color: #d84315;
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 14px;
  }
  /*******************************************/

}
/* ************************************** */

/*DESKTOP*/
@media screen and (min-width: 1024px){
  .modalContainer{
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding-top: 120px;
    background: rgba(0,0,0, 0.7);
    /*background-color: green;*/
    position: fixed;
    display: none;
  }
  .modal{
    width:900px;
    height:650px;
    padding: 15px;
    background-color:#212121;
    margin:auto;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 1px 100px #FF6E40;
  }

  body{
    margin: 0px;
    padding: 0px;
  }

  /*CONTROLLER*/
  #controller{
    display: none;
  }
  /*-------------------------*/

  header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    position: fixed;
    z-index: 999;
  }
  #fillBlank{
    width: 100%;
    height: 80px;
  }
  #backgroundVideo{
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(videos/bgVideo.mp4) repeat;
    background-size: cover;
  }
  /*---------------- MENU -----------------*/
  nav{
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  /*-- MENU ITEMS --*/
  #logo{
    width: 100px;
    height: 80px;

  /*  background-color: gray;*/

    float: left;
  }
  #logoImg{
      width: 100px;
      height: 80px;
  }
  /*FOR MOBILE*/
  #logoMOBILE{
      display: none;
  }
  #logoImgMOBILE{
      display: none;
  }
  /* ************** */
  .menuItems{
    width: 150px;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    float: left;

    /*TEXT*/
    font-family: verdana, "Chaparral Pro";
    font-size: 14px;
    color: #d84315;
    font-weight:bold;
  }
  #loginArea{
    width: 200px;
    height: 80px;
    float: left;
  }
  .inputArea_LOGIN{
    width: 90px;
    height: 65px;
    padding-top: 15px;
    text-align: left;
    float: left;

    /*TEXT*/
    font-family: verdana, "Chaparral Pro";
    font-size: 14px;
    color: #d9d9d9;
  }
  .inputText_LOGIN{
    width: 85px;
    float: left;
  }
  #buttonArea_LOGIN{
    width: 20px;
    height: 48px;
    padding-top: 32px;
    float: left;
  }
  #btnOk_LOGIN{
    width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 10px;
    float: left;
  }
  /*------------ MAIN CONTENT -----------------*/
  #main{
    width: 1200px;
    height: 1000px;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
  }
  #slider{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 375px;
  /*  background-color: green;*/
  }
  section{
      width: 1200px;
      height: 800px;
      margin-left: auto;
      margin-right: auto;
  }
  /*------------ LEFT MENU -----------------*/
  #leftMenu{
    width: 250px;
    min-height: 850px;
    height: auto;
    background-color: #d84315;
    float: left;
  }
  /* ------------- CATEGORY ------------ */
  #menuList_LEFT_MENU{
    list-style: none;
    padding: 0px;
  }
  .lstItem_LEFT_MENU{
    transition: 2s;
    padding: 10px;
    background-color: #212121;
    margin-top: 5px;

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 21px;
    color: #9e9e9e;
  }
  .lstItem_LEFT_MENU:hover{
      transition: 2s;
      color: #d84315;
  }
  .lstItem_LEFT_MENU:hover > .subcategory_LEFT_MENU{
    display: block;
  }
  /* ------------- SUBCATEGORY ------------ */
  .subcategory_LEFT_MENU{
    display: none;
  }
  .subcategory_listItem_LEFT_MENU{
    width: 250px;
    height: auto;
    min-height: 20px;
    margin-top: 10px;
    /*background-color: green;*/

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 16px;
    color: #9e9e9e;
  }
  .subcategory_listItem_LEFT_MENU:hover{
    transition: 1s;
    color: #d84315;
    text-shadow: 1px 1px 5px #000;
  }
  /*----------------------------------------*/
  #centerContent{
    width: 950px;
    min-height: 850px;
    height: auto;
    background-color: #212121;
    float: left;
  }
  /*------------ OUTSIDE BOXES -------------*/
  #outsideBox1_CENTER_CONTENT{
    width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;
  /*  transition: 2s;*/
  }
  #outsideBox2_CENTER_CONTENT{
    width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;
    margin-top: 120px;
  /*    transition: 2s;*/
  }
  #outsideBox3_CENTER_CONTENT{
    width: 55px;
    height: 55px;
    border-radius: 5px 5px 20px 5px;
    margin-left: 950px;
    background-color: #bf360c;
    position: fixed;
    margin-top: 60px;
  /*  transition: 2s;*/
  }
  .adImgSize{
      width: 55px;
      height: 55px;
      border-radius: 10px 10px 10px 10px;
  }
  /*----------------------------------------*/
  #contentTitle_CENTER_CONTENT{
    width: 950px;
    height: 70px;
    text-align: center;
  /*  background-color: aqua;*/
  }
  /*TITLE*/
  h1{
    color: #d84315;
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 34px;
    text-shadow: 2px 2px 1px #000000;
  }
  /*----------------- SEARCH --------------*/
  /*SEARCH AREA*/
  #searchArea{
      width: 920px;
      height: 40px;
      padding-left: 30px;
  /*    background-color: yellowgreen;*/
  }
  #btnSearch{
      border-radius: 20px 20px 20px 20px;
      width: 30px;
      height: 30px;
      box-shadow: 1px 2px 5px #bf360c;
  }
  #txtSearch{
      width: 810px;
      height: 25px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 1px 2px 25px #bf360c;

      /*TEXT*/
      text-align: center;
      color: #000000;
      letter-spacing: 2px;
      font-size: 18px;
      font-family: CarvedRock;
      text-shadow: 1px 1px #bf360c;
  }
  /* -------------------------------------- */
  /*ITEMS BOX*/
  .itemsBox_CENTER_CONTENT{
    width: 250px;
    height: 300px;
    border: solid 5px #d84315;
    border-radius: 5px 5px 5px 5px;
    margin-left: 30px;
    float: left;
    margin-top: 25px;
  }
  .imgBackground_ITEMS_BOX{
    width: 250px;
    height: 180px;
    background-color: #000000;
  }
  .pizzaImg_ITEMS_BOX{
    width: 250px;
    height: 180px;
    background-color: #bf360c;
    border-radius: 10px 10px 10px 10px;
  }
  .pizzaIconImg_ITEMS_BOX{
    width: 250px;
    height: 180px;
    border-radius: 5px 5px 5px 5px;
  }
  .descArea_ITEMS_BOX{
    width: 250px;
    height: 100px;
    padding-top: 20px;
    background-color: #000000;
    border-radius: 0px 0px 2px 2px;
    opacity: 0.6;
  }
  .descLabel_ITEMS_BOX{
    width: 245px;
    height: 15px;
    padding: 5px;

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }
  .detailsDescLabel_ITEMS_BOX{
    width: 245px;
    height: 25px;
    text-align: right;
    padding-right: 5px;

    /*TEXT*/
    font-family: CarvedRock, "Chaparral Pro";
    color: #d84315;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }
  /****************** FOOTER ******************/
  footer{
    width: 100%;
    height: 150px;
    float: left;
  }
  #footerBox{
    width: 1200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #263238;
  }
  #leftSideFooter{
    width: 200px;
    height: 50px;
    float: left;
    padding-top: 100px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 10px;
    font-family: verdana, "Chaparral Pro";
  }
  #rightSideFooter{
    width: 300px;
    height: 50px;
    float: left;
    padding-top: 100px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }
  #rightSideFooter a{
    text-align: center;
    color: #d84315;
    font-size: 16px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }

  #centerSpaceFooter{
    width: 700px;
    height: 150px;
    float: left;
  }
  #frsText{
    width: 720px;
    height: 50px;
    padding-top: 25px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 18px;
    font-weight: bold;
    font-family: CarvedRock, "Chaparral Pro";
  }
  #scdnText{
    width: 720px;
    height: 50px;
    padding-top: 25px;

    /*TEXT*/
    text-align: center;
    color: #d84315;
    font-size: 18px;
    font-family: verdana, "Chaparral Pro";
  }
  /*******************************************/

  /**************** GENERAL tags *************/
  a{
    text-decoration: none;
    color: #d84315;
    font-family: CarvedRock, "Chaparral Pro";
    font-size: 14px;
  }
  /*******************************************/
}
