/*CSS*/
*{
  padding: 0px;
  margin: 0px;
}

/*FIELDS' AND INPUTS' AREA*/
#fieldsAndInputsArea{
  width: 500px;
  height: 200px;
  /*padding-top: 60px;*/
  /*padding-left: 150px;*/
  border-radius: 50px 50px 50px 50px;
  background-color: #212121;
}

/*DIVIDATION BOX 1*/
#dividationBox1{
  width: 350px;
  height: 50px;
  padding-top: 50px;
  padding-left: 150px;
  /*border-radius: 50px 50px 50px 50px;*/
  /*background-color: purple;*/
}

/*DIVIDATION BOX 2*/
#dividationBox2{
  width: 300px;
  height: 50px;
  padding-top: 50px;
  padding-left: 200px;
  /*border-radius: 50px 50px 50px 50px;*/
  /*background-color: purple;*/
}

/*TEXT FIELD - ADD NEW CATEGORY*/
#addNewCategoryTextField{
  width: 200px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 15px #cccccc;

  /*TEXT*/
  text-shadow: 1px 1px #FF6E40;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/*BUTTON - ADD NEW CATEGORY*/
#addNewCategoryButton{
  width: 100px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 15px #cccccc;
  background-color: #cccccc;

  /*TEXT*/
  color: #000000;
  text-shadow: 1px 1px #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
