*{
	padding: 0px;
	margin: 0px;
}

/*CATEGORY AND SUBCATEGORY AREA*/
.categoryAndSubcategoryArea{
	width: 800px;
	min-height: 100px;
	height: auto;
	/*background-color: aqua;*/
}

/*BOX TITLE*/
.boxTitle{
	width: 800px;
	height: 20px;
	padding-top: 10px;
	margin-bottom: 25px;
	overflow: auto;
	border-bottom: solid 2px #212121;
	border-radius: 10px 10px 10px 10px;
	/*background-color: purple;*/

	/*TEXT*/
	text-align: center;
	text-shadow: 1px 1px #FF6E40;
	font-weight: bold;
	text-transform: uppercase;
}


/*CATEGORY AND SUBCATEGORY DATA*/
.categoryAndSubcategoryData{
	width: 800px;
	height: 40px;
	border-radius: 5px 5px 5px 5px;
	background-color: #9E9E9E;
}

/*CATEGORY TITLE*/
.categoryTitle{
	width: 679px;
	height: 30px;
	padding-top: 10px;
	float: left;
	border-right: solid 1px #000000;
	/*background-color: orange;*/

	/*TEXT*/
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	text-shadow: 1px 1px #000000;
}

/*CATEGORY AND SUBCATEGORY ACTIONS*/
.categoryAndSubcategoryActions{
	width: 118px;
	height: 35px;
	float: left;
	padding-top: 5px;
	border-left: solid 2px #000000;
	background-color: #9E9E9E;
}
.categoryAndSubcategoryActions img{
	margin-left: 15px;
	width: 35px;
	height: 35px
}
